body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background : url(BackgroundImage.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: blueviolet;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color:red;
}

.hidden {
    display: none;
}

.features {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.features button {
    flex: 1;
}

.section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}
